
.canvas-parent{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

canvas{
    border:1px solid black;
    background-color: #000;
    width:100%;
    height:60vh;
}